.postListWrapper
{
  margin: 10px;
  padding: 5px;
}
.point 
{
  cursor:pointer;
}
.postTitle
{
  background-color: #124191 !important;
}
.postWrapper
{
  margin: 10px;
}

.userWrapper
{
  padding: 20px;
}
.userTitle
{    
  background: #124191;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: white;
  font-size: 16px;
  padding: 2px 15px 0px 15px;
  border: solid #ccc 1px;
  text-decoration: none;
  margin-bottom: 10px;
}

.userTable
{
  padding-right: 10px;
  padding-left: 10px;
}

button 
{
  float: right;
  background: #fff;
  background-image: -webkit-linear-gradient(top, #fff, #ccc);
  background-image: -moz-linear-gradient(top, #fff, #ccc);
  background-image: -ms-linear-gradient(top, #fff, #ccc);
  background-image: -o-linear-gradient(top, #fff, #ccc);
  background-image: linear-gradient(to bottom, #fff, #ccc);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #666;
  font-size: 14px;
  padding: 2px 15px 0px 15px;
  border: solid #ccc 1px;
  text-decoration: none;
  
}

button:hover 
{
  text-decoration: none;
  color:#124191;
}   
