<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
  <head>
	<title>UiTM - projekt</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/fontello.css" rel="stylesheet" type="text/css" />
	<link href="css/base.css" rel="stylesheet">
	<link href="css/posts.css" rel="stylesheet">
	<!-- Angular -->
	<script src="js/angular.js"></script>
	<script src="js/script.js"></script>
	<script src="js/filters.js"></script>
  </head>

  <body>

	<div id="header">
	   <img src="logo.png" alt="AGH" id="logo"/>
	   <span id="title">Przykładowy blog</span>
	</div>

	<div ng-controller="myController"> 
		<div id="nav">
		  <ol>
			<li ng-click="changeView('postListView')">Posty</li>
			<li ng-click="changeView('usersView')">Użytkownicy</li>
			<li ng-click="changeView('authorView')">O autorach</li>
		  </ol>
	   	</div>

		<div id="content">

			<div ng-switch="currentView">	

				<!--Pierwsza strona - spis postów-->
				<div ng-switch-when="postListView" >
					<h3>Spis postów</h3>
					<div ng-repeat="post in posts" class="list-group postListWrapper">
						<a class="list-group-item">
							<button ng-click="goToPost(post.id)">Czytaj post</button>
							<h4 class="list-group-item-heading">{{post.title}}</h4>
							<span><i ng-click="listUserPosts(post.userId)" class="demo-icon icon-user" title="Pokaz posty użytkownika" style="cursor: pointer;"></i>
								{{users | get_author_name: post.userId}}</span>
						</a>
					</div>			
				</div>

				<!--Druga strona - spis użytkowników-->
				<div ng-switch-when="usersView">
					<h3>Spis użytkowników</h3>
					<div ng-repeat="user in users" class="userWrapper">
						<div class="userTitle">
							<span>{{user.name}}</span>
						</div>	
						<button ng-click="listUserPosts(user.id)">Zobacz posty</button>
						<table>
							<tr>
								<td class="userTable">Strona internetowa:</td>    
								<td><a href={{user.website}}>{{user.website}}</a></td>
							</tr>
							<tr>
								<td class="userTable">E-mail:</td>    
								<td>{{user.email}}</td>
							</tr>
							<tr>
								<td class="userTable">Telefon:</td>    
								<td>{{user.phone}}</td>
							</tr>
							<tr>
								<td class="userTable">Praca:</td>    
								<td>{{user.company.name}}</td>
							</tr>
						</table>
					</div>
				</div>

				<!--Czytaj post - dany post -->
				<div ng-switch-when="postView" class="panel panel-primary postWrapper " title={{currentPost.title}}>
					<div class="panel-heading postTitle">
						{{currentPost.title}}
					</div>
					<div class="panel-body">
						{{currentPost.body}}
						<br/><br/>
						<span ng-click="listUserPosts(post.userId)"><i class="demo-icon icon-user"></i>{{users | get_author_name: currentPost.userId}}</span>
					</div>
				</div>

				<!--Zobacz posty użytkownika - posty użytkownika-->
				<div ng-switch-when="userPostsView" >
					<h3>Posty użytkownika <i>{{users | get_author_name: userPosts[0].userId}}</i></h3>
					<div ng-repeat="post in userPosts" class="panel panel-primary postWrapper">
						<div class="panel-heading postTitle">
							{{post.title}}
						</div>
						<div class="panel-body">
							{{post.body | cut}}
							<button ng-click="goToPost(post.id)">Czytaj post</button>
						</div>
					</div>
				</div>
				<!--Trzecia strona - O autorach-->
				<div ng-switch-when="authorView">
					<h3>Marta Kukuła</h3>   

					<div>
						<table style="float:left; font-size: 16px;">
							<tr>
								<td class="info">E-mail:</td>    
								<td>mkukula@student.agh.edu.pl</td>  
							</tr>
							<tr>
								<td class="info">Telefon:</td>    
								<td>+48 512 864 XXX</td>
							</tr>
							<tr>
								<td class="info">Praca:</td>    
								<td>Własna działalność gospodarcza</td>
							</tr>
						</table>

						<img src="http://www.iet.agh.edu.pl/files/6214/2529/3032/logo-agh_cmyk.JPG" alt="Marta Kukula" id="foto" style="float:right;"/>
					</div>

					<div class="userTitle" style="clear:both;">
						<span>Wykształcenie</span>
					</div>
					<table style="float:left; font-size: 16px;">
						<tr>
							<td class="info" nowrap="nowrap">2012 – nadal</td>    
							<td>Akademia Górniczo-Hutnicza im. Stanisława Staszica w Krakowie <br/>
								kierunek: Elektronika i Telekomunikacja <br/>
								 rok III studiów inżynierskich
							</td>  
						</tr>
						<tr>
							<td class="info" nowrap="nowrap">2009 – 2012</td>    
							<td>I Liceum Ogólnokształcące im. Marcina Kromera w Gorlicach</td>
						</tr>
					</table>

					<div class="userTitle" style="clear:both;">
						<span>Przebyte kursy i szkolenia </span>
					</div>
					 <table style="float:left; font-size: 16px;">
						<tr>
							<td class="info" nowrap="nowrap">12/2014</td>    
							<td>Kurs LabVIEW (uzyskanie tytułu Certified LabVIEW Associate Developer
							</td>  
						</tr>
						<tr>
							<td class="info" nowrap="nowrap">08/2012</td>    
							<td>Kurs pierwszej pomocy 
							</td>  
						</tr>
						<tr>
							<td class="info" nowrap="nowrap">04/2009 – 06/2009</td>    
							<td>Kurs szybkiego czytania i technik uczenia się</td>
						</tr>
					</table>

					<div class="userTitle" style="clear:both;">
						<span>Umiejętności</span>
					</div>
					<div class="skill">
					<ul>
						<li>Języki obce
							<ul>
							<li>Angielski:  poziom B2</li>
							<li>Niemiecki:  poziom A1</li>
							</ul>
						</li>
						<li>Technologie
							<ul>
							<li>C++</li>
							<li>LabVIEW</li>
							<li>Matlab (R2012b)</li>
							</ul>
						</li>
						<li>Konfiguracja sieci komputerowych (znajomość Cisco IOS)</li>
						<li>Podstawy programowania mikrokontrolerów Freescale FRDM-KL46Z</li>
						<li>Bardzo dobra znajomość pakietu Microsoft Office</li>
						<li>Prawo jazdy kategorii B</li>
					</ul>
					</div>

					<div style="clear:both;">
					</div>
			</div>
		</div>
		</div>
	</div>
   
		
	</div>

	<div class="footer">
		<div class="social fb">
			<a href="https://www.facebook.com/" style="text-decoration:none; color: #444;"><i class="icon-facebook"></i></a>
		</div>
		<div class="social yt">
			<a href="https://www.youtube.com/" style="text-decoration:none; color: #444;"><i class="icon-youtube"></i></a>
		</div>
		<div class="social tw">
			<a href="https://twitter.com/" style="text-decoration:none; color: #444;"><i class="icon-twitter"></i></a>
		</div>
		<div class="social gplus">
			<a href="https://plus.google.com/" style="text-decoration:none; color: #444;"><i class="icon-gplus"></i></a>
		</div>
		<span>Marta Kukuła &copy; 2016 | Projekt UiTM | Thank you for your visit!</span>
	</div>
  </body>
</html>